:root {
  /* Color */
  --text-color: #f0f4f5;
  --background-color: #00838f;
  --accent-color: #ffb74d;

  /* Size */
  --small-padding: 8px 12px;
  --bigger-padding: 8px 24px;
  --font-size: 24px;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: var(--small-padding);
}

.navbar_logo {
  font-size: var(--font-size);
  color: var(--text-color);
}

.navbar_logo i {
  color: var(--accent-color);
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: var(--small-padding);
}

.navbar_menu li:hover {
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
}

.navbar_icons {
  display: flex;
  list-style: none;
  color: var(--text-color);
  padding-left: 0;
}

.navbar_icons li {
  padding: var(--small-padding);
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: var(--font-size);
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--bigger-padding);
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
